#container {
    width: 500px;
    min-height: 100vh;
    background-color: red;
    font-size: 0px;
}

.block{
    display: inline-block;
    width: 80px;
    height: 80px;
    background-color: wheat;
    border: 10px outset antiquewhite;
}

.focus {
    background-color: blueviolet;
}

.hustle {
    background-color: black;
}

.winning {
    background-color: blue;
}

.earth {
    background-color: wheat;
}

.cute {
    background-color: hotpink;
}