@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Tangerine:wght@400;700&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    font-family: "Tangerine", cursive; 
}
h1,h2{
   font-family: "Italianno", cursive;
}
img{
    width: 100%;
    object-fit: cover;
}
.single-column{
    width: 80%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.light-container{
    background-color: red;
    color: white;
    padding: 48px 0px;
    
}
.dark-container{
    background-color: pink;
    color: black;
    padding: 48px 0px;
}