*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    font-family: sans-serif;
}
img{
    width: 100%;
    object-fit: cover;
}
.single-column{
    width: 80%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.light-container{
    background-color: red;
    color: white;
    padding: 48px 0px;
    
}
.dark-container{
    background-color: pink;
    color: black;
    padding: 48px 0px;
}