* {
    box-sizing: border-box
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.single-column{
    margin: opx auto;
    width: 90%;
    max-width: 1200px;
}
.card{
    border: 5px solid pink;
    padding: 25px;
    text-align: center;
}
,card h3{
    margin: 0px;
    font-size: 35px;
}
.card p{
    margin: 25px 0px 0px;
}
.card-container{
    display:flex;
    gap: 25px;
    justify-content: center;
}
h2 {
    text-align: center;
}