.colorpalette{
    box-shadow: 6px 6px 12px #989898;
    text-align: center;
    margin: 24px;
    padding: 24px;
}

.color{
    margin: 0px;
    padding: 24px;
}
#c1p1{
    background-color: #f8daff;
}
#c2p2 {
    background-color: #563e5d;
}
#c3p3 {
    background-color: #ffb592;
}
#c4p4 {
    background-color: #00c9ba;
}
.colorpalette{
    box-shadow: 6px 6px 12px #989898;
    text-align: center;
    margin: 24px;
    padding: 24px;
}
#p1c1 {
    background-color: #b15d1e;
}
#p2c2 {
    background-color: #dd2d4a;
}
#p3c3 {
    background-color: #f26a8d;
}
#p4c4 {
    background-color: #f49cbb;
}
#p5c5 {
    background-color: #cbeef3;
}


.color{
    margin: 0px;
    padding: 24px;
}