@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');
/* Resets Below */
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
img {
    width: 100%;
    object-fit: cover;
}
/* Resets Above */
.tc{
    display: flex;
    flex-direction: column;
}
#intro .tc{
    font-family: imperial-script;
}
.c1{
    display: flex;
}