/* Resets Below */
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
img {
    width: 100%;
    object-fit: cover;
}
/* Resets Above */
#centered-hero{
    background-image: url("../images/hero-1.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.content h1{
    font-size: 72px;
    margin: 0px;

}
.content p{
    font-size: 20px;
    margine: 15px 0px 25px;

}
.content .btn{
    background-color: rgb(161, 114, 12);
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    color: white;
}
.cropped-gal img {
    height: 100%;
}
.cropped-gal{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 200px;
    gap: 25px;
    border: 0.5px solid #cc8c16;
    padding: 25px;
}

